---
# Copyright (c) 2024 Oracle and/or its affiliates.
# This software is made available to you under the terms of the Universal Permissive License (UPL), Version 1.0.
# The Universal Permissive License (UPL), Version 1.0 (see COPYING or https://oss.oracle.com/licenses/upl)
# See LICENSE.TXT for details.

instance_egress_security_rules:
  - destination: "0.0.0.0/0"
    protocol: 6
{% if use_fss %}
  - destination: "10.0.0.0/24"
    protocol: 6
    tcp_options:
      source_port_range:
        max: 111
        min: 111
  - destination: "10.0.0.0/24"
    protocol: 6
    tcp_options:
      source_port_range:
        max: 2050
        min: 2048
  - destination: "10.0.0.0/24"
    protocol: 17
    udp_options:
      destination_port_range:
        max: 111
        min: 111
{% endif %}