---
# Copyright (c) 2024 Oracle and/or its affiliates.
# This software is made available to you under the terms of the Universal Permissive License (UPL), Version 1.0.
# The Universal Permissive License (UPL), Version 1.0 (see COPYING or https://oss.oracle.com/licenses/upl)
# See LICENSE.TXT for details.

environments:
  - environment-name: myenvironment
    globals:
      api-server: 127.0.0.1:8091
      secret-manager-type: file
      olcne-ca-path: /etc/olcne/certificates/ca.cert
      olcne-node-cert-path: /etc/olcne/certificates/node.cert
      olcne-node-key-path:  /etc/olcne/certificates/node.key
      update-config: true
    modules:
      - module: kubernetes
        name: mycluster
        args:
          container-registry: {{ocne_registry_location}}
{% if use_lb %}
          load-balancer: {{ lb_ip }}:6443
{% endif %}
          control-plane-nodes:
{% for host in range(groups['controlplane']|length|int) | map('extract',groups['controlplane'])|list %}
            - {{ host + '.' + my_subnet_domain_name + ':8090'}}
{% endfor %}
          worker-nodes:
{% for host in range(groups['worker']|length|int) | map('extract',groups['worker'])|list %}
            - {{ host + '.' + my_subnet_domain_name + ':8090'}}
{% endfor %}
          selinux: enforcing
          restrict-service-externalip: true
          restrict-service-externalip-ca-cert: /home/{{ username }}/certificates/ca/ca.cert
          restrict-service-externalip-tls-cert: /home/{{ username }}/certificates/restrict_external_ip/node.cert
          restrict-service-externalip-tls-key: /home/{{ username }}/certificates/restrict_external_ip/node.key