---
# Copyright (c) 2024 Oracle and/or its affiliates.
# This software is made available to you under the terms of the Universal Permissive License (UPL), Version 1.0.
# The Universal Permissive License (UPL), Version 1.0 (see COPYING or https://oss.oracle.com/licenses/upl)
# See LICENSE.TXT for details.

my_compartment_id: {{ my_compartment_id }}
my_vcn_id: {{ my_vcn_id }}
my_subnet1_id: {{ my_subnet1_id }}
my_subnet2_id: {{ my_subnet2_id }}
my_subnet1_domain_name: {{ my_subnet1_domain_name }}
my_subnet2_domain_name: {{ my_subnet2_domain_name }}
my_vlan_id: {{ my_vlan_id }}