---
# Copyright (c) 2024 Oracle and/or its affiliates.
# This software is made available to you under the terms of the Universal Permissive License (UPL), Version 1.0.
# The Universal Permissive License (UPL), Version 1.0 (see COPYING or https://oss.oracle.com/licenses/upl)
# See LICENSE.TXT for details.

instance_ingress_security_rules:
  # Allow incoming SSH connections
  - source: "0.0.0.0/0"
    protocol: 6
    tcp_options:
      destination_port_range:
        max: 22
        min: 22
  - source: "10.0.0.0/24"
    protocol: 6
    tcp_options:
      destination_port_range:
        min: 2048
        max: 2050
  - source: "10.0.0.0/24"
    protocol: 17
    udp_options:
      destination_port_range:
        min: 2048
        max: 2048
  - source: "10.0.0.0/24"
    protocol: 6
    tcp_options:
      destination_port_range:
        min: 111
        max: 111
  - source: "10.0.0.0/24"
    protocol: 17
    udp_options:
      destination_port_range:
        min: 111
        max: 111
  - source: "0.0.0.0/0"
    protocol: 17
    udp_options:
      destination_port_range:
        min: 2049
        max: 2049
  - source: "0.0.0.0/0"
    protocol: 6
    tcp_options:
      destination_port_range:
        min: 80
        max: 80
  - source: "0.0.0.0/0"
    protocol: 6
    tcp_options:
      destination_port_range:
        min: 443
        max: 443
  - source: "0.0.0.0/0"
    protocol: 6
    tcp_options:
      destination_port_range:
        min: 7803
        max: 7803
  - source: "0.0.0.0/0"
    protocol: 6
    tcp_options:
      destination_port_range:
        min: 8080
        max: 8080
  - source: "0.0.0.0/0"
    protocol: 6
    tcp_options:
      destination_port_range:
        min: 50002
        max: 50002
  - source: "0.0.0.0/0"
    protocol: 6
    tcp_options:
      destination_port_range:
        min: 8090
        max: 8091
  - source: "0.0.0.0/0"
    protocol: 6
    tcp_options:
      destination_port_range:
        min: 2379
        max: 2380
  - source: "0.0.0.0/0"
    protocol: 6
    tcp_options:
      destination_port_range:
        min: 5443
        max: 5444
  - source: "0.0.0.0/0"
    protocol: 6
    tcp_options:
      destination_port_range:
        min: 6443
        max: 6444
  - source: "0.0.0.0/0"
    protocol: 6
    tcp_options:
      destination_port_range:
        min: 8472
        max: 8472
  - source: "0.0.0.0/0"
    protocol: 6
    tcp_options:
      destination_port_range:
        min: 10250
        max: 10256
  - source: "0.0.0.0/0"
    protocol: 1
    icmp_options:
      type: 3
      code: 4